body {
  font-family: Arial, sans-serif;
  background: url('https://i.ibb.co/xY8N4Zg/heist-bg.jpg') center/cover fixed;
  margin: 0;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.08);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.logo { font-size: 18px; font-weight: bold; }

.menu-btn {
  display: none;
  font-size: 25px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: .3s;
}

nav a:hover { color: red; }

.title {
  margin-top: 90px;
  text-align: center;
}

.admin-container {
  display: grid;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.admin-card {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.admin-card:hover {
  transform: scale(1.08);
  background: rgba(255,0,0,0.3);
}

.admin-card img {
  width: 100%;
  border-radius: 12px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  top: 0;
}

.modal-content {
  width: 90%;
  max-width: 380px;
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  border-radius: 15px;
  animation: zoom .4s ease;
}

@keyframes zoom {
  from { transform: scale(.4); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.glass {
  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.3);
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.social a {
  display: block;
  margin: 8px 0;
  background: red;
  padding: 7px;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}


@media (max-width: 768px) {
  nav {
    position: fixed;
    right: -100%;
    top: 50px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.2);
    padding-top: 40px;
    transition: .4s;
  }

  .menu-btn { display: block; }

  nav.show { right: 0; }

  nav a {
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}
